<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
      <h1>後期あゆみ・指導要録・台帳</h1>
      <p>教務点検---低学年(所) 中学年(津川) 高学年(田原)</p>
      <table border="1" style="border-collapse: collapse">
        <tr>
          <th> 3月10日</th>
          <td>あゆみ下書き・卒業台帳・修了台帳〆切</td>
        </tr>
        <tr>
          <th></th>
          <td> ※教務点検→ 管理職点検→ 担任返却</td>
        </tr>
        <tr>
          <th> 3月17日</th>
          <td>あゆみ印刷〆切⇒ 教務へ提出（21日までに教務点検）</td>
        </tr>
        <tr>
          <th> </th>
          <td>※教務点検→ 校長室金庫へ保管</td>
        </tr>
        <tr>
          <th> 3月24日</th>
          <td>後期あゆみ配布</td>
        </tr>
        <tr>
          <th> 3月27日</th>
          <td>指導要録締め切り</td>
        </tr>
        <tr>
          <th> 3月29日</th>
          <td>指導要録点検完了（教務）</td>
        </tr>
      </table>
     
    </section>
  </body>
</html>

<style>

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  h1 {
    font-size: 2rem;
  }
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  th {
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  td {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .link-container {
    margin-top: 1rem;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
</style>
