<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy-advance/">Home</a>
      <h1>#iPadの点検・管理</h1>
      <p>3月24日までにそれぞれの学級で確認をお願いします。</p>
      <ul>
        <li>名前</li>
        <li>Googleアカウントのパスワード</li>
        <li>ギガナンバー</li>
        <li class="ness">シリアル番号</li>
        <li>タッチペン</li>
      </ul>
      <p class="ness">
        ※シリアル番号は不具合報告に必要なので、必ず確認して下さい。
      </p>
      <p>※タッチペンは所持しているか否かを確認して下さい。</p>
      <br />
      <h1>#公式？Class Roomの処理について</h1>
      <p>現在、学級でメインに使っているクラスルームについて以下のように処理をお願いします</p>
      <p>それ以外のものについては、この限りではありませんが<span>春休み中は出来るだけ動かさない方が吉です。</span></p>
      
      <ul>
        <li>3学期終了後、Google Meetが児童に見えない設定を確認をお願いします。</li>
        <li>3月31日までに、アーカイブに移動させて下さい</li>
        <li>削除は4月に入ってから担当が削除します</li>
        <li>新年度分は体制が決まり次第、担当が作成します</li>
      </ul>
      <a href="https://www.synnex.co.jp/vendor/google/faq_education/level1/classroom%E5%86%85-meet-%E5%88%A9%E7%94%A8%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6/">
        ▶ Classroom内 Meet 利用の注意</a>
        <br>
      <a href="https://support.google.com/edu/classroom/answer/6149813">▶ クラスルームのアーカイブ方法</a>
     
      
    </section>
  </body>
</html>

<style>
  html{
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  h1 {
    font-size: 2rem;
  }
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color:rgb(64, 154, 79)
  }

  a:hover {
    color:pink;
  }
  li {
    font-size: 1.2rem;
  }
  .ness {
    color: red;
  }
  p {
    margin: 0;
  }

  span {
    color: red
  }
</style>
