<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
      <br />
      <img src="https://raw.githubusercontent.com/tokoshika/astro-deploy/d9f16eb1d0054cf057f88a3c619f890c3b6dc73a/public/assets/0118_1.jpg" width="80%" alt="" />
      <img src="https://raw.githubusercontent.com/tokoshika/astro-deploy/d9f16eb1d0054cf057f88a3c619f890c3b6dc73a/public/assets/0118_2.jpg" width="80%" alt="" />
      <img src="https://raw.githubusercontent.com/tokoshika/astro-deploy/d9f16eb1d0054cf057f88a3c619f890c3b6dc73a/public/assets/0118_3.jpg" width="80%" alt="" />
      <img src="https://raw.githubusercontent.com/tokoshika/astro-deploy/d9f16eb1d0054cf057f88a3c619f890c3b6dc73a/public/assets/0118_4.jpg" width="80%" alt="" />
      <img src="https://raw.githubusercontent.com/tokoshika/astro-deploy/d9f16eb1d0054cf057f88a3c619f890c3b6dc73a/public/assets/0118_5.jpg" width="80%" alt="" />
    </section>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
  p {
    margin: 0;
  }
</style>
