<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="https://tokoshika.github.io/astro-deploy/">Home</a>
    <h1>後期あゆみ・指導要録</h1>

    <table border="1" style="border-collapse: collapse">
      <tr>
        <th> 3月10日</th>
        <td>卒業台帳・修了台帳締め切り</td>
      </tr>
      <tr>
        <th> 3月17日</th>
        <td>あゆみ所見提出（21日までに教務点検）</td>
      </tr>
      <tr>
        <th> 3月24日</th>
        <td>後期あゆみ配布</td>
      </tr>
      <tr>
        <th> 3月27日</th>
        <td>指導要録締め切り</td>
      </tr>
      <tr>
        <th> 3月29日</th>
        <td>指導要録点検完了（教務）</td>
      </tr>
    </table>
  </body>
</html>

<style>
  th {
    padding: 0.5rem;
  }

  td {
    padding: 0.5rem;
  }
</style>
